.container {
  display: flex;
  flex-direction: column;
}

.content {
  margin: auto;
}

.btn + .btn {
  margin-left: 0.5rem;
}

.gotoTop {
  border: 1px solid ;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  color: white;
  background-color: rgba(153,153,153, 0.5);
  padding: 5px;
  border-radius: 3px;
}

.gotoTop:hover {
  color: white;
  background-color: rgba(153,153,153, 0.9);
}

